:root {
    --antique-bronze: #5b5022ff;
    --russian-green: #749d78ff;
    --olive-drab-3: #839728ff;
    --hunter-green: #3f6651ff;
    --laurel-green: #afb494ff;
    --rich-wood: url("./assets/lazarescu-alexandra-unsplash.jpg");
}
#root {
    width: fit-content;
}
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("./assets/mitchell-luo-unsplash.jpg");
    background-size: cover;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#hero {
    text-align: center;
    padding: 20px;
    background-image: var(--rich-wood);
    background-size: cover;
    border-radius: 15px;
    border: 3px solid saddlebrown;
    margin-top: 80px;
}
#nameboard-home-link {
    text-decoration: none;
    color: inherit;
}
#nameboard-home-link > * {
    margin: 10px auto;
}
#my-name {
    font-size: 50px;
}
#subtitle {
    font-size: xx-large;
}
#nav-btn-div {
    padding: 0;
}
#navBtn,
#navActive {
    width: 300px;
    padding: 5px;
    margin: auto;
    margin-top: 30px;
    font-size: larger;
    background-image: var(--rich-wood);
    background-size: cover;
    border: 4px solid saddlebrown;
}
#navActive {
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
#eyecon {
    font-size: xxx-large;
}
#react-card {
    background-color: #39483e;
    color: ivory;
    width: 700px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
#about-para {
    text-align: justify;
}
#proj-link {
    text-decoration: none;
    color: #a29a97;
    font-size: x-large;
}
#port-tech-stack,
#description {
    text-decoration: underline;
}
#form-field {
    background-color: ivory;
    border-radius: 3px;
}

#contact-form > div > div > div {
    background-color: ivory;
    width: 100%;
}
#resume {
    text-decoration: none;
    color: ivory;
    border: 3px solid slategrey;
    border-radius: 4px;
    padding: 10px;
    background-image: var(--rich-wood);
    background-size: cover;
    font-weight: 700;
    font-size: larger;
}
#tech-prof {
    text-decoration: underline;
    margin-bottom: 0;
}
#tech-prof-ul,
#tech-prof-ul-2 {
    list-style: none;
    padding-left: 0;
}
#skill {
    font-size: large;
    padding: 3px;
    text-align: left;
}
#contact-info {
    background-color: #a29a97;
    height: fit-content;
}
#contact-title {
    font-size: xx-large;
    color: #39483e;
    margin: 10px;
}
#contact-info > * {
    font-size: large;
    color: #39483e;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}
.contact-anchor {
    text-decoration: none;
    color: #39483e;
}
@media screen and (max-width: 400px) {
    #react-card {
        width: fit-content;
    }
}
@media screen and (max-width: 1199px) {
    #react-card {
        width: 700px;
    }
}
@media screen and (max-width: 1500px) {
    #react-card {
        width: 550px;
    }
}
