:root {
    --antique-bronze: #5b5022ff;
    --russian-green: #749d78ff;
    --olive-drab-3: #839728ff;
    --hunter-green: #3f6651ff;
    --laurel-green: #afb494ff;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("./assets/rodion-kutsaev-unsplash.jpg");
    background-size: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#my-name,
#subtitle {
    text-align: center;
    background-color: var(--hunter-green);
    margin: 0px;
    padding: 20px;
}

.navActive {
    border-bottom: 3px solid black;
}

#navBtn {
    width: 175px;
    margin: auto;
    margin-top: 30px;
    font-size: larger;
}
